<html>
  <head>
  </head>
  <body>
    <div>
      <div>CreateRoom Proto:</div>
      <div>
        <textarea id="create-input"></textarea>
      </div>
      <button id="create-button">CreateRoom</button>
    </div>
    <div>
      <div>
        DeleteRoom Room Id:
      </div>
      <div>
        <input id="delete-input" type="text" value="id">
      </div>
      <button id="delete-button">DeleteRoom</button>
    </div>
    <div>
      ListRoom
      <button id="list-button">Refresh</button>
      <div id="list-result"></div>
    </div>

  </body>
</html>
